body{
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif0;
    text-align: center;
    align-items: center;
}
h1{
    font-size: 50px;
}
.conselho{
    
    background-color: aqua;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 30px;
    width: 50%;
}